#cont{
    background-image: url('../img/bg.png');
    height: 95vh;
    width: 95vw;
    background-size: contain;
    background-repeat: no-repeat;

}
.hide{
    display: none;
}
.show{
    display: block !important;
}
